* {
  font-family: Segoe WPC, Segoe UI, sans-serif;
  user-select: none;
  font-size: 13px;

  &:focus-visible {
    outline: none;
  }
}

body {
  padding: 0;
}

.tree-content {
  .title {
    padding-right: 18px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    background: none;
    color: var(--vscode-foreground);
    border: none;
    position: relative;
    display: inline-block;
    align-items: center;
    gap: 3px;

    &.disabled {
      cursor: unset;

      &:hover {
        background: none;
      }
    }

    &.invalid-token {
      cursor: unset;
      margin-right: 5px;

      &:hover {
        background: none;
      }

      .description {
        color: #fff;
        background: #a00000;
        border-radius: 3px;
        padding: 0 2px;
        height: 15px;
        display: inline-block;
        line-height: 12px;
        font-size: 12px;
      }
    }

    &.repository {
      padding-bottom: 4px;
      padding-top: 2px;

      .expand {
        width: 18px;
      }

      .icon.repository {
        margin: 2px 2px 0px 2px;
        float: left;
        width: 18px;
      }
    }

    &.group {
      padding-bottom: 1px;

      .expand {
        width: 13px;
      }

      .icon.group {
        float: left;
        width: 13px;
        margin: 3px 4px 0px 2px;
      }
    }

    &:hover {
      background: var(--vscode-list-hoverBackground);
    }

    & > .expand {
      display: inline-flex;
      transform: scaleY(1.75) translate(1px, 1px);
      height: 22px;
      float: left;
    }

    &.expanded > .expand {
      transform: scaleX(1.75) rotate(90deg);
      margin-right: 5px;
      width: 8px;
    }

    .name {
      float: left;
      line-height: 16px;
      margin-top: 2px;
    }

    .icon.refresh {
      margin-top: 3px;
      float: right;
    }

    .icon.go-to {
      margin-top: 1px;
      height: 16px;
      width: 15px;
    }

    .icon.git-clone {
      margin-right: 5px;
    }

    .icon.refresh,
    .icon.go-to {
      margin-right: 3px;
    }

    .create-child {
      float: right;
      margin-top: 5px;
      width: 20px;
      opacity: 0.75;
      margin-right: 3px;
      color: var(--vscode-input-foreground);

      & > span {
        font-size: 24px;
        height: 14px;
        display: block;
        line-height: 4px;
        text-align: center;
        font-weight: bold;
        position: relative;
        z-index: 1;
        opacity: 0.65;
      }

      &:hover {
        opacity: 1;
      }

      .options {
        display: none;
        position: absolute;
        right: 2px;
        top: 5px;
        border: solid 1px var(--vscode-tree-indentGuidesStroke);
        background: var(--vscode-input-background);
        color: var(--vscode-input-foreground);
        padding: 2px;
        z-index: 10;

        .create-repo,
        .create-group {
          display: grid;
          grid-template-columns: 20px 1fr;
          height: 20px;
          align-items: center;
          justify-items: left;
          line-height: 0px;
          padding: 1px 3px;

          &:hover {
            background-color: #75757578;
          }
        }
      }

      &:hover {
        .options {
          display: block;
        }
      }
    }
  }

  .children {
    display: flex;
    flex-direction: column;
    position: relative;

    &:not(.expanded) {
      display: none;
    }

    &.empty {
      span {
        opacity: 0.7;
      }
    }
  }

  .line {
    position: absolute;
    background: var(--vscode-tree-indentGuidesStroke);
    height: 100%;
    width: 1px;
    z-index: 1;
  }

  .icon.git-clone,
  .icon.go-to {
    float: right;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }

  .icon.git-clone {
    margin-left: -3px;
    height: 16px;
    width: 16px;
  }
}

.search-bar {
  position: relative;
  padding: 15px;

  input {
    width: calc(100% - 39px);
    background: var(--vscode-input-background);
    border: none;
    height: 26px;
    font-size: 12px;
    color: var(--vscode-input-foreground);
    padding: 0 28px 0 10px;

    &:focus {
      outline: solid 1px var(--vscode-focusBorder);
    }

    &:not(:placeholder-shown) ~ span,
    &:not(:placeholder-shown) ~ span:hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  span {
    position: absolute;
    opacity: 0.7;
    right: 23px;
    top: 20px;
    height: 16px;
    width: 16px;
  }
}

.hidden {
  display: none !important;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px 15px;
  padding: 0px 6px 4px 0px;
  border-bottom: solid 1px var(--vscode-tree-indentGuidesStroke);

  span {
    opacity: 0.75;
  }
}

.icon.refresh {
  opacity: 0.75;
  width: 15px;
  height: 15px;

  &:hover {
    opacity: 1;
    cursor: pointer;
  }

  &.disabled {
    opacity: 0.5;

    &:hover {
      opacity: 0.5;
      cursor: unset;
    }
  }
}

.temp-content {
  padding: 0 15px;

  .level {
    display: flex;
    align-items: center;
    gap: 3px;
    height: 24px;
  }
}
